{% extends "base.html" %} 
{% block content %}

<h2 class="text-2xl font-semibold mb-6 text-slate-700">Top Donatur</h2>

<form method="GET" class="flex flex-wrap gap-4 mb-6">
  <select name="limit" class="px-4 py-2 border rounded">
      <option value="10" {% if limit == "10" %}selected{% endif %}>10 data</option>
      <option value="50" {% if limit == "50" %}selected{% endif %}>50 data</option>
      <option value="100" {% if limit == "100" %}selected{% endif %}>100 data</option>
      <option value="9999" {% if limit == "9999" %}selected{% endif %}>Semua</option>
  </select>
  <select name="filter" class="px-4 py-2 border rounded">
      <option value="" {% if filter_value == "" %}selected{% endif %}>Semua Donatur</option>
      <option value="low" {% if filter_value == "low" %}selected{% endif %}>< 5.000.000</option>
      <option value="mid" {% if filter_value == "mid" %}selected{% endif %}>5.000.000 – 10.000.000</option>
      <option value="high" {% if filter_value == "high" %}selected{% endif %}>> 10.000.000</option>
  </select>

  <button class="bg-slate-700 text-white px-5 py-2 rounded hover:bg-slate-800">
    Filter
  </button>

</form>

<table class="w-full border-collapse border border-gray-300 shadow mb-10">
  <thead class="bg-slate-700 text-white">
    <tr>
      <th class="border p-3 text-left">Nama Donatur</th>
      <th class="border p-3 text-left">Total Donasi</th>
    </tr>
  </thead>

  <tbody class="bg-white bg-opacity-60">
    {% for t in data %}
    <tr class="hover:bg-gray-100 transition">
      <td class="border p-3">{{ t.nama_donatur }}</td>
      <td class="border p-3">Rp {{ "{:,.0f}".format(t.total_donasi) }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
